html, body {
    padding: 0;
    margin: 0;

    font-family: 'Raleway';
    background: #000301;
}

.nav {
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000301;
    position: absolute;
    top: 0;
    width: 100%;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav li {
    display: inline;
}

.nav li a:hover {
    background-color: gray;
}

.nav a {
    display: inline-block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

.bgImage {
    height: 100vh;
    background-image: url("../media/mainphoto.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
}

.bgImage .title {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 5em;
    font-family: 'Pacifico';
    color: white;
}

.about {
    color: white;
    font-size: 1.15em;
    line-height: 150%;
}

.about a {
    color: white;
}

.about .title {
    font-size: 2em;
    text-align: center;
    padding: 3%;
    font-family: 'Pacifico';
    font-weight: lighter;
}

.about .info {
    text-indent: 50px;
}

.footer {
    background-color: #000301;
    border-top: 1px solid white;
    text-align: center;
    vertical-align: middle;
    color: white;
    padding: 5%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 3%;
    min-height: 25vh;
}