html, body {
    padding: 0;
    margin: 0;

    font-family: 'Raleway';
    background: #000301;
}

.nav {
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    width: 100%;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav .title {
    font-size: 1.25em;
    font-weight: bold;
    float: left;
}

.nav li {
    float: right;
    text-decoration: none;
}

.nav li a:hover {
    background-color: white;
}

.nav a {
    display: inline-block;
    padding: 14px 16px;
    color: black;
    text-decoration: none;
}

.bgImage {
    height: 100vh;
    background-image: url("../media/D72_6566.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    color: white;
    font-size: 1.15em;
    padding: 5%;
    line-height: 150%;
}

.about a {
    color: white;
}

.about .title {
    font-size: 2em;
    text-align: center;
    padding: 1%;
    font-family: 'Pacifico';
    font-weight: lighter;
}